body {
  font-family: Arial, sans-serif;
  /* gradient background */
  background: linear-gradient(135deg, #a8e6cf, #f69aba); 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  background: rgba(224, 184, 184, 0.85); /* sedikit translucent */
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

textarea {
  width: 90%;
  height: 120px;
  padding: 10px;
  margin-top: 15px;

  background-color: rgba(255, 255, 255, 0.5); /* 50% transparent */
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #151515;
  resize: none; /* optional, tak boleh resize */

}

button {
  margin-top: 15px;
  padding: 10px 20px;
  cursor: pointer;
}

#message {
  margin-top: 20px;
  font-style: italic;
}

.dark-mode {
  background-color: #1e1e1e;
  color: #f5f5f5;
}

.dark-mode textarea {
  background-color: #333;
  color: #f5f5f5;
}

.dark-mode button {
  background-color: #444;
  color: #f5f5f5;
}
